<%
	def get_hpo_link(hpo_code)
		# STDERR.puts hpo_code.inspect
		if hpo_code == '-'
			link = '-'
		else
			link = "<a href=\"http://compbio.charite.de/hpoweb/showterm?id=#{hpo_code}\">#{hpo_code}</a>"
		end
		return link
	end

	def red_text(text)
		return "<font color=\"red\">#{text}</font>"
	end

	def add_tip(text, help_text)
		return "<div class=\"tooltip\">#{text}<span class=\"tooltiptext\">#{help_text}</span></div>"
	end

%>

<div class="chunk">
	<style type="text/css" scoped>	
	.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
	</style>
</div>

<div style="width: 90%; background-color:#ecf0f1; margin: 0 auto;"> 
<h1 style="text-align: center; background-color:#d6eaf8">Input HPO quality control</h1>
<p>HPO terms with IC values less than <b>1</b> are marked in red, and they do not give much information to our system. Please, if possible, select more specific HPO terms suggested in <b>Possible child HPO terms </b>column.</p>

	<%= table(id: :characterised_hpos, header: true, border: 2, 
		cell_align: %w(left center center center center left)) do |data|
		data.each do |row|
			row.each_with_index do |cell, i|
				if i == 1
					# STDERR.puts cell.inspect
					row[i] = get_hpo_link(cell)
				elsif i == 4
					row[i] = cell.map{|h,n| [get_hpo_link(h), n].compact}.join(', ')	
				elsif i == 5
					row[i] = cell.map{|r| "#{get_hpo_link(r.first)} (#{r.last})"}.join(', ')
				elsif i == 3
					ci = cell.to_f
					if ci <= 1
						text = red_text(ci.round(2))
					else
						text = ci.round(2)
					end
					row[i] = text
				elsif i == 2
					if cell == 'no'
						row[i] = red_text(cell)
					end
				end
			end
		end
		data.unshift([add_tip("HPO name", "Name of the HPO"), "HPO code", "Exists in database?", "Information Coefficient (IC)", "Is child of", "Possible child HPO terms"])
		end
	%>

<h1 style="text-align: center; background-color:#d6eaf8">Regions associated to HPO profile</h1>
<h2 style="text-align: center; background-color:#d6eaf8">General representation</h2>
<div style="overflow: hidden;">
<%=
	if !@hash_vars[:merged_regions].nil?
		circular_data = []
		@hash_vars[:merged_regions].sort{|reg1, reg2| [reg1[0].to_i, reg1[1].to_i] <=> [reg2[0].to_i, reg2[1].to_i]}.each do |row|
			#TODO if chr were x or y, change them to 23 and 24 and, when print, use x and y again
			circular_data_row = []
			circular_data_row << "#{row[1]}-#{row[2]}"
			circular_data_row << row[5]
			circular_data_row << row[0]
			circular_data << circular_data_row
		end
		circular_data.unshift(%w[Coords CombScore Chr])
		@hash_vars[:circular_data] = circular_data
		circular(
			id: :circular_data, 
			header: true,
			row_names: true,
			responsive: false,
			sample_attributes: {'Chr' => 2},
			config:{
		#		'smpLabelOrientation' => 'circular',
				'smpOverlays' => ['Chr'],
				'colorSpectrum' => ["#d73027", "#fc8d59", "#fee090", "#ffffbf", "#e0f3f8", "#91bfdb", "#4575b4"],
		#		'segregateSamplesBy' => ['Chr']
				}
			) do |data|
				data.pop #Discard chromosome data
			end
	end
%>
</div>
<h2 style="text-align: center; background-color:#d6eaf8">Ranked genomic regions associated to the HPO profile</h2>
<p>The following table shows all the predicted genomic regions, the HPO terms found for it, their original association values and the calculated combined score. Results are ranked from the highest to the lowest combined score.</p>
	<%= 
	if !@hash_vars[:merged_regions].nil?
		gene_var = @hash_vars[:genes_with_kegg_data]
		table(id: :merged_regions, header: true, border: 2, 
		cell_align: %w(center center center left center center)) do |data|
		hpo_metadata = @hash_vars[:hpo_metadata]
		data.each_with_index do |row, row_number|
			row.each_with_index do |cell, i|
				if i == 3
					row[i] = cell.map{|h| "#{get_hpo_link(h)}: #{hpo_metadata[h][1]}"}.join("\n<br>")
				elsif i == 4
					row[i] = cell.map{|a| 
						if a.abs > 0.01
							a.to_f.round(2)
						else
							"%e" %a
						end
						}.join("\n<br>")
				end
			end
			if !gene_var.nil?
				gene_data = gene_var[row_number]
				if !gene_data.empty?
					table = '<table border= "2">'
					table << "<tr><th>#{["GeneID", "Gene Names", "Description", "KEGG pathways"].join('</th><th>')}</th></tr>"
					geneIDs = gene_data.map{|gd| gd.first}
					gene_data.each do |geneID, attributes|
						table << '<tr>'
						table << "<td><a href=https://www.ncbi.nlm.nih.gov/gene/?term=#{geneID}>#{geneID}</a></td>"
						if !attributes.nil?
							table << "<td>#{attributes[0][0..1].join(', ')}</td>"
							table << "<td>#{attributes[1]}</td>"
							table << "<td>#{attributes[2].map{|pws| "<a href=\"https://www.kegg.jp/pathway/#{pws.first}+#{geneIDs.join('+')}\">#{pws.last}</a>"}.join('<br>')}</td>"
						else
							table << '<td></td>' * 3
						end
						table << '</tr>'
					end
					table << '</table>'
					row << table
				else
					row << ('-')
				end
			else
				row << ('-')
			end
		end
		data.unshift(["Chromosome", "Start", "Stop", "Associated HPOs", "Association values<br>(For each HPO)", "Combined score", "Gene data" ])
		end
	end
	%>

<% if !@hash_vars[:pathway_stats].empty? %>
	<h2 style="text-align: center; background-color:#d6eaf8">KEGG pathways significance in the genes located into the predicted regions </h2>
	<p></p>
		<%= table(id: :pathway_stats, header: true, border: 2 ) do |data|
			data.each do |row|
				row.each_with_index do |field, i|
					new_field = field
					if i == 0
						new_field = "<a href=\"https://www.kegg.jp/pathway/#{field.first}+#{row[i+1].join('+')}\">#{field.last}</a>"
					elsif i == 1
						new_field = field.map{|geneID| "<a href=https://www.ncbi.nlm.nih.gov/gene/?term=#{geneID}>#{geneID}</a>" }.join(', ')
					elsif i == 2
						new_field = field.join(", ")
					end
					row[i] = new_field
				end
			end
			data.unshift(["KEGG pathway", "Genes in pathway", "Contigency table: PN, NP, PP, NN", "Fisher p-value" ])
		end
		%>
<% end %>

</div>