<div style="width: 90%; background-color:#ecf0f1; margin: 0 auto;"> 
	<h1 style="text-align: center; background-color:#d6eaf8">Similarity matrix</h1>
		<%=heatmap(id: :similarity_matrix, header: true, row_names: true, )%>
</div>
